[Unit]
Description=MP4 converter for BBB
After=bbb-web.service 

[Service]
User=root
Group=root
WorkingDirectory=APPDIR
ExecStart=/bin/bash APPDIR/bbb_converter.sh
Environment=NODE_ENV=production
Restart=always
RestartSec=5s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bbb_conv


[Install]
WantedBy=multi-user.target