[Unit]
Description=MP4 converter for BBB
After=bbb-web.service 

[Service]
User=root
Group=root
WorkingDirectory=APPDIR
ExecStart=APPDIR/bbb_converter.sh
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Restart=always
RestartSec=5s


[Install]
WantedBy=multi-user.target