[Unit]
Description=MP4 converter for BBB
After=bbb-web.service 

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=APPDIR
ExecStart=APPDIR/bbb_converter.sh
Restart=on-failure
RestartSec=10s


[Install]
WantedBy=multi-user.target